<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="users-registered">
			  	<div class="card-header">
			  		<h5 class="card-title">Last login</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title" style="color: black !important;">{{request.user.last_login}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-locations">
			  	<div class="card-header">
			  		<h5 class="card-title">Username</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title" style="color: black !important;">{{request.user}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>