<br>

<div class="row">
	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="users-registered">
			  	<div class="card-header">
			  		<h5 class="card-title">Users registered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-sts-gpaew/embed/charts?id=0aa88b59-4d7f-4eb7-ae52-3e4eca3da32c&autoRefresh=10&theme=light"></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="users-registered">
			  	<div class="card-header">
			  		<h5 class="card-title">Sessions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">	<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-sts-gpaew/embed/charts?id=16f0bdaf-f82f-4271-b8e4-df87b8c21adb&autoRefresh=10&theme=light"></iframe></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-locations">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Locations</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="400" src="https://charts.mongodb.com/charts-sts-gpaew/embed/charts?id=94be952b-c847-4c5f-b84a-c6be8643b83a&autoRefresh=10&theme=light"></iframe></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>